.notes {
  max-width: 500px;
  min-height: calc(100vh);
  margin-inline: auto;
  position: relative;

  .notes-add {
    /* height: calc(100vh - 10vh);
    overflow-y: auto; */
  }
  .notes-add::-webkit-scrollbar {
    display: none;
  }
  .note-text {
    border-radius: 20px;
  }

  .add-note {
    margin: 20px;
    right: 2%;
    bottom: 15px;
    height: 60px;
    width: 60px;
    font-size: 3rem;
    font-weight: 500;
  }
  .fab {
    bottom: 20px;
    right: 0;
    float: right;
    position: absolute;
    margin: 20px;
    height: 60px;
    width: 60px;
    font-size: 3rem;
    font-weight: 500;
  }
}

.groupinfo-navbar {
  height: 10vh;
  .left-arrow {
    font-size: 3rem;
  }
}
