.forget {
  max-width: 500px;
  margin-inline: auto;
  margin-block: 2rem;
  .login-img {
    width: 100%;
    max-width: 220px;
    margin-inline: auto;
  }
  .left-arrow {
    font-size: 3rem;
    top: 10px;
  }

  .outer-card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-width: 50px;
  }
}

.forgetpswd {
  .inner-card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-width: 50px;

    .form {
      border-bottom: 2px solid rgba(40, 39, 39, 0.091);
      margin-block: 2rem;
      max-width: 80%;
      width: 100%;
    }
    // .form:focus-within {
    //   border: 2px solid #0074d9;
    //   box-shadow: 0 8px 8px -4px lightblue;
    //   .icon {
    //     fill: #0088ff;
    //   }
    // }
    .btn {
      border-radius: 50px;
    }
  }
}

.verifypswd {
  .inner-card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-width: 50px;

    .code {
      margin-block: 2rem;
      max-width: 80%;
      width: 100%;
      gap: 10px;

      .btn {
        border-radius: 50px;
      }
    }
  }
}

.newpswd {
  .inner-card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top-width: 50px;

    .form {
      border-bottom: 2px solid rgba(40, 39, 39, 0.091);
      margin-block: 1rem;
      max-width: 80%;
      width: 100%;
    }
    .form:focus-within {
      border-bottom: 2px solid #0074d9;
      box-shadow: 0 8px 8px -4px lightblue;
      .icon {
        fill: #0088ff;
      }
    }
    .btn {
      border-radius: 50px;
    }
  }
}
