.taskView {
  max-width: 500px;
  min-height: calc(100vh);
  margin-inline: auto;
  background-color: #ffffff;

  .taskInfo {
    padding: 7px;
    .taskContent {
      .taskQuestion {
        width: 100%;
        background-color: slateblue;
        color: white;
        padding: 15px;
        font-size: 1.5em;
      }
      .completion {
        height: 7px;
        width: 100%;
        max-width: 80%;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 0 20px lightblue;
        .progress {
          height: 100%;
        }
      }
    }
    .question {
      width: 100%;
      max-width: 500px;
    }
  }
  .studentAnswer {
    box-shadow: 0 0 10px skyblue;
    padding: 10px;
    background-color: lightblue;
    .studImg {
      height: 70px;
      width: 70px;
      min-height: 70px;
      min-width: 70px;
      overflow: hidden;
      border-radius: 50%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .taskImg {
      height: 200px;
      width: 200px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .answer {
      color: #646363;
    }
  }
}

#star {
  height: 38px;
  width: 38px;
  background-color: white;
  transition: all 0.5s linear;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
